* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: 0.33s;
}

.logo {
  object-fit: cover;
  width: 9.5rem;
  margin: 0.89rem;
}
.nav {
  height: 3.5rem;
  column-gap: 3rem;
}
.nav-list {
  flex-direction: row;
  column-gap: 3rem;
  display: flex;
}
.nav-menu {
  margin-left: auto;
  align-self: center;
}
.p-btn {
  background-color: black;
  border: none;
  color: white;
  padding: 1.2rem 1.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.s-button {
  background-color: transparent;
  border: black;
  color: black;
  padding: 1.2rem 1.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.05rem solid black;
}
